<div class='row'>
  <div class='col'>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-card class='loginForm'>
        <mat-form-field>
          <input matInput
                 placeholder="Input your username"
                 type="text"
                 formControlName="username"
                 required>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 placeholder="Enter your password"
                 [type]="isPwdHided ? 'password' : 'text'"
                 formControlName="password"
                 required>
          <mat-icon matSuffix
                    (mousedown)="isPwdHided = !isPwdHided"
                    (mouseup)="isPwdHided = !isPwdHided">
            {{ isPwdHided ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>

        <button mat-button
                type="submit"
                [disabled]="!loginForm.valid">
          Login</button>
      </mat-card>
    </form>
  </div>
</div>
