<div class='row'>
  <div class='col-6'>
    <mat-card>
      <div class='example-container'>
        <mat-form-field>
          <input matInput
                 placeholder='Input your username'
                 [formControl]='email'
                 required>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 placeholder='Enter your password'
                 [type]="hide ? 'password' : 'text'"
                 [formControl]='password'
                 required>
          <mat-icon matSuffix (click)='hide = !hide'>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>

        <button mat-button (click)="onLogin()">Login</button>
      </div>
    </mat-card>
  </div>
</div>
