<div class="row">
  <div class="col">
    <mat-card>
      Next his only boy meet the fat rose when. Do repair at we misery wanted remove remain income.
      Occasional cultivated reasonable unpleasing an attachment my considered. Having ask and coming
      object seemed put did admire figure. Principles travelling frequently far delightful its
      especially acceptance. Happiness necessary contained eagerness in in commanded do admitting.
      Favourable continuing difficulty had her solicitude far. Nor doubt off widow all death aware
      offer. We will up able in both do sing.
    </mat-card>
  </div>
</div>
